<div class="backgroud-header navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">PODCE</a>

    <div class="collapse col-sm-8 col-md-9 mr-0 navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" ui-sref="servico.cadastrar">
                    <i class="fa fa-home"></i>
                    Serviços
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                    Menu 2
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                    Menu 3
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                    Menu 4
                </a>
            </li>
        </ul>
    </div>
    <div class="collapse col-sm-1 col-md-1 mr-0 navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                    Sair
                </a>
            </li>
        </ul>
    </div>
</div>