<div class="aside-inner">
    <nav sidebar="" sidebar-anyclick-close="" ng-class="{'show-scrollbar': app.layout.asideScrollbar}" class="sidebar">
        <ul class="nav">
            <li class="nav-heading divider-bottom">
                <div style="white-space: normal;">
                    <p>Bem vindo, <strong>{{username}}</strong></p>
                </div>
            </li>
            <li ng-if="hasChild(item.submenu)" ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'" ng-click="toggleCollapse(pIndex, true)"></li>
        </ul>
    </nav>
</div>