/target/
!.mvn/wrapper/maven-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.log
*.tmp
*.gz
podce-lib/target/
podce-adm/target/
discovery/target/
angular/nbproject/
angular/package-lock\.json
